@use "@scss/abstract/index";

.h1-title {
	font-size: 34px;
	@include index.minMedia(550) {
		font-size: 2rem;
		line-height: 1.15;
	}
	@media (max-height: 450px) and (orientation: landscape) {
		font-size: 38px;
	}
}

.h2-title {
	font-size: 28px;
	@include index.minMedia(550) {
		font-size: 1.8rem;
	}
	@media (max-height: 450px) and (orientation: landscape) {
		font-size: 30px;
	}
}

.h2-test {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: 400;
	color: index.$brand;
	@include index.minMedia(800px) {
		font-size: 32px;
	}
}
